@import '../assets/avarlibel.scss';
@import '../assets/animation.scss';

.cart-fixed.cart-fixed {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translateX(-50%);

  padding: 0.9rem;
  background: rgba($color-black, 0.3);
  border-radius: 50%;

  line-height: 1.8rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  .cart__box-icon--icon {
    margin: 0;
    font-size: 2rem;
  }

  .cart__box-icon--number {
    position: absolute;
    top: 7px;
    right: 14px;
    color: #fff;
    font-size: 1.1rem;
  }
}

.cart {
  display: inline-flex;
  padding-right: 1.5rem;
  border-right: 1px solid #c3bdbd;
  cursor: pointer;

  &:hover &--text {
    color: #c3bdbd;
  }

  &--text {
    color: $color-white;
    font-size: 1.6rem;
    transition: all 0.4s ease-in-out;
  }

  &__box-icon {
    position: relative;

    &:hover &--icon {
      color: $color-main-dark;
      animation: initial;
    }

    &--icon {
      color: $color-main;
      margin-left: 0.5rem;
      font-size: 2.2rem;
      transition: all 0.4s ease-in-out;
    }

    &--number {
      position: absolute;
      top: -2px;
      right: 6px;
      color: #fff;
      font-size: 1.1rem;
    }
  }
}

.icon-phone {
  animation: phone 3s ease-in-out;
  animation-iteration-count: infinite;
}

// ------------------------Tables - desktop---------------------------------------------
@media (max-width: 1024px) {
  .cart {
    padding-right: 1.5rem;

    &--text {
      font-size: 1.4rem;
    }

    &--number {
      right: 21px;
      top: -2px;
    }
  }
}


// -------------------Table Modile Medium------------
@media (max-width: 991px) {
  .cart {
    border: none;
    &--text {
      font-size: 1.5rem;
    }
    &--number {
      top: -1px;
      right: 23px;
    }

    &--icon {
      font-size: 2.5rem;
    }
  }
}

// -----------------Modile-----------------
@media (max-width: 767px) {
  .cart {
    border-right: none;

    &--icon {
      font-size: 2.5rem;
    }

    &--number {
      top: -2px;
      right: 23px;
      font-size: 1.3rem;
    }
  }
}
