
.nav-product {
  &__item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    list-style: none;
    margin-bottom: 3px;
    text-transform: capitalize;

    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: #04104c;
      background-color: #f1f1f1;
    }
  }

  .nav-active {
    background-color: #dcac35;
    color: #fff;
  }
}

// ------------------------Tables - desktop---------------------------------------------
@media (max-width: 1024px) {
  .nav-product {
    &__item {
      font-size: 1.3rem;
    }
  }
}
