
.count-product {
  margin-bottom: 2rem;

  &--icon-plus.count-product--icon-plus,
  &--icon-minus.count-product--icon-minus {
    padding: 0 1rem;
  }

  &--input {
    width: 20%;
    text-align: center;
    cursor: pointer;
    height: 3rem;
    border: 1px solid #d9d9d9;
    background-color: #fff;

    &[disabled] {
      background: #f5f5f5;
      border-color: #d9d9d9;
      cursor: no-drop;
    }

    &:focus {
      border-color: #40a9ff;
    }
  }

  &--text {
    font-weight: 600;
    color: #999;
    font-size: 1.3rem;
  }
}
