.box-logo {
  &--logo {
    max-width: 80%;
    margin: 0 auto;
  }
}


// -----------------Modile-----------------
@media (max-width: 767px) {
  .box-logo {
    &--logo {
      width: 70%;
    }
  }
}
