.info-detail {
  min-height: 20rem;
  &__group {
    margin-bottom: 1rem;
    &--video {
      width: 100%;
      height: 70rem;
    }
  }

  .ant-tabs-tab-btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700 !important;
  }
}
