@import "../../assets/avarlibel.scss";
@import "../../assets/animation.scss";

.my-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  z-index: 60;
  width: 70rem;

  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;

  &__name {
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: $color-main-dark;
    color: $color-white;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #f90d0d;
    }
  }

  &__info-product {
    padding: 0 1rem;
  }

  &__box {
    padding: 1rem 0;
    &--name-img {
      display: flex;
      align-items: center;
    }

    &--img {
      width: 10rem;
      margin-right: 1rem;
    }

    &--name {
      font-size: 1.6rem;
      font-weight: 700;
    }

    &--price {
      font-weight: 700;
      color: $color-main-dark;
    }

    &--text {
      margin-top: 1rem;
    }

    &--infomation {
      font-size: 1.8rem;
      font-weight: 700;
    }

    .form {
      margin-top: 1rem;
      width: 100%;

      &__group {
        margin-bottom: 1rem;

        &--textarea,
        &--input {
          width: 100%;
          border: 1px solid #ddd;
          border-radius: 2px;
          padding: 3px 1rem;
          color: #353535;

          &:focus {
            border-color: #40a9ff;
          }
        }
      }
    }

    .ant-input-number {
      width: 100%;
    }
    .ant-form-item {
      margin-bottom: 1rem;
    }

    .ant-btn {
      background-color: $color-main-dark;
      width: 100%;
      color: $color-white;
      padding: 0.5rem 3rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      line-height: 1.6rem;

      &:focus,
      &:hover {
        color: $color-white;
        background-color: $color-main-dark;
        border: none;
        box-shadow: inset 0 0 0px 10rem rgba(0, 0, 0, 0.2);
      }
    }
  }
}
