@import '../../assets/avarlibel.scss';
@import '../../assets/animation.scss';

.header-center {
  background-color: $color-bg-header-center;

  &__box {
    padding: 1rem 0;
  }

  &__search {
    position: relative;

    &--input {
      width: 100%;
      height: 3.5rem;
      padding: 0.5rem 1rem;

      border: 1px solid $color-main;
      border-radius: 3px;
      font-size: 1.6rem;
      color: #444;
    }

    &--icon {
      position: absolute;
      top: 0;
      right: 0;
      height: 3.5rem;
      line-height: 3.8rem;

      font-size: 2.4rem;
      padding: 0 2rem;
      background: $color-main-dark;
      color: $color-white;
      border-radius: 0 3px 3px 0;
      cursor: pointer;

      &:hover {
        background-color: #a07103;
      }
    }
  }
}



// ------------------------Tables - desktop---------------------------------------------
@media (max-width: 1024px) {
  .header-center {
    &__search {
      &--input {
        height: 3.1rem;
      }

      &--icon {
        height: 3.1rem;
        line-height: 3.1rem;
        font-size: 2rem;
        padding: 0 2rem;
      }
    }
  }
}

// -------------------Table Modile Medium------------
@media (max-width: 991px) {
  .header-center {
    &__box {
      text-align: center;
    }
    &__box-logo {
      padding: 1.5rem 0;
      width: 85%;
    }

    &__search {
      &--input {
        height: 3rem;
        font-size: 1.5rem;
      }

      &--icon {
        height: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        padding: 0 1.5rem;
      }
    }
  }
}

// -----------------Modile-----------------
@media (max-width: 767px) {
  .header-center {
    &__box-logo {
      margin: 0 auto;
    }

    &__search {
      &--icon {
        padding: 0 1rem;
      }
    }

    .nav-mobile {
      font-size: 3rem;
      display: block;
      margin-right: 6rem;
      color: $color-main;
      cursor: pointer;
    }

    .close-nav-mobile {
      position: fixed;
      top: 3%;
      right: 2%;
      color: #fff;
      z-index: 3;
      font-size: 2.2rem;
      cursor: pointer;
      animation: right-dog 0.3s ease-in-out;
    }

    .follow {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 2;
      cursor: pointer;
      animation: left-dog 0.2s ease-in-out;
    }
  }
}
