@import "../../assets/avarlibel.scss";

.drop-down {
  position: absolute;
  right: 0;
  top: 100%;
  border: 1px solid $color-gray-line;

  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #ccc;
  z-index: 2;
  background: $color-white;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;

  &__list {
    padding: 1rem 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 20%;
    }

    &::before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 8px solid #fff;
      z-index: 2;
    }

    &::after {
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #dddddd;
    }
  }

  &__item {
    list-style: none;

    &:hover {
      background-color: $color-gray-line;
      color: $color-main;
    }
  }

  &__link {
    padding: 0.5rem 2rem;
    display: block;
    font-size: 1.5rem;
    color: $color-text-nav;

    &:hover {
      color: $color-main;
    }
  }
}

// ------------------------desktop---------------------------------------------
// @media (max-width: 1239px) and (min-width: 1025px) {}
// ------------------------Tables---------------------------------------------
@media (max-width: 1023px) {
  .drop-down {
    width: 190px;

    &__list {
      padding: 1rem 0;
    }

    &__link {
      font-size: 1.4rem;
    }
  }
}

// -----------------Modile-----------------
@media (max-width: 767px) {
  .drop-down {
    position: initial;
    left: 0;
    top: 0;
    border: none;

    z-index: auto;
    width: 100%;
    border-radius: none;
    box-shadow: none;
    background: local;

    opacity: initial;
    visibility: initial;
    transition: all 0.5s ease-in-out;
    padding-bottom: 1rem;
    display: none;

    &__list {
      padding: 0;

      &::before,
      &::after {
        content: none;
      }
    }

    &__item {
      list-style: none;
    }

    &__link {
      font-size: 1.3rem;
      font-weight: 500;

      &:hover {
        color: initial;
      }
    }
  }
}
