// -----------Icon Header Top Start----------------
@keyframes phone {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
// -----------Icon Header Top End----------------

// -----------Slider ----------------
.animation-bottom {
  animation: bottom 1s ease-in-out;
}

.animation-left-dog {
  animation: left-dog 1s ease-in-out;
}
.animation-left-mew {
  animation: left-mew 1s ease-in-out;
}

.animation-right-dog {
  animation: right-dog 1s ease-in-out;
}

@keyframes bottom {
  0% {
    top: 50%;
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    top: 21%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes left-dog {
  0% {
    left: 5%;
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    left: 13%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes right-dog {
  0% {
    right: 2%;
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    right: 8%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes left-mew {
  0% {
    left: 2%;
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    left: 10%;
    opacity: 1;
    visibility: visible;
  }
}
// --------Slider End------------------

// --------Btn All------------------
@keyframes auto-left-rigt {
  0% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
// --------Btn all End------------------

// --------Modal Start------------------
.visiteOverll {
  transform: translateY(0);
  animation: visiteOverll 0.4s ease-in-out;
}

.visiteModal.visiteModal {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  animation: visiteModal 0.4s ease-in-out;
}

@keyframes visiteOverll {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes visiteModal {
  0% {
    transform: translate(-50%, -160%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }
}

// --------Modal End------------------

// ------------------------Tables - desktop---------------------------------------------
@media (max-width: 1024px) {
  @keyframes bottom {
    0% {
      top: 50%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      top: 15%;
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes left-dog {
    0% {
      left: 3%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      left: 10%;
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes right-dog {
    0% {
      right: -1%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      right: 4%;
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes left-mew {
    0% {
      left: -1%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      left: 5%;
      opacity: 1;
      visibility: visible;
    }
  }
}

// -------------------Table Modile Medium------------
@media (max-width: 991px) {
  @keyframes bottom {
    0% {
      top: 50%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      top: 15%;
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes left-dog {
    0% {
      left: 3%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      left: 10%;
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes right-dog {
    0% {
      right: -3%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      right: 2%;
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes left-mew {
    0% {
      left: -3%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      left: 4%;
      opacity: 1;
      visibility: visible;
    }
  }
}

// -----------------Modile-----------------
@media (max-width: 767px) {
  @keyframes left-dog {
    0% {
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes right-dog {
    0% {
      right: -5%;
      opacity: 0;
      visibility: hidden;
    }
    70% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      right: 2%;
      opacity: 1;
      visibility: visible;
    }
  }
}
